<ion-header>
  <ion-toolbar>
    <ion-title>Signup request send.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center text-justify">
     <h1> <ion-icon name="information-circle-outline"></ion-icon> It may take 2-3 minutes before you can login.</h1>
  </ion-text>

  <ion-footer>
 
      <ion-button (click)="dismiss()" color="success" expand="block"  shape="round">
        Go to home <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>

  </ion-footer>
  
</ion-content>
