
<super-tabs>
  <super-tabs-toolbar slot="top" color="secondary">
    <super-tab-button>
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>My titles</ion-label>    
    </super-tab-button>
    <super-tab-button class="ion-text-center">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Check requests</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Transaction</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Advertises</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-nav animated="true" [root]="MyTitlesPage" swipeGesture="true"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav animated="true" [root]="RequestsPage" swipeGesture="true"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav animated="true" [root]="TxPage" swipeGesture="true"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav animated="true" [root]="AdPage" swipeGesture="true"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>