<ion-content class="ion-padding">
    
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="10" offset-sm="1">
                <ion-text color="secondary">
                    <h1>Account information</h1>
                  </ion-text>         
                <hr>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm="5" offset-sm="1">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">নাম</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">স্বামীর নাম</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">বয়স</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">পেশা</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-list>
                
            </ion-col>
            <ion-col size="12" size-sm="5">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">পিতার নাম</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">মাতার নাম</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">ধর্ম</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">জাতীয়তা</ion-label>
                        <ion-input></ion-input>
                    </ion-item>   
                </ion-list>
                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="10" offset-sm="1">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">স্থায়ী ঠিকানা</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">বর্তমান ঠিকানা</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                       
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
