<ion-header [translucent]="true" class="ion-margin-bottom">
  <ion-toolbar>
    <ion-grid>
      <ion-row  class="ion-align-items-center">
        <ion-col size="2" size-sm="1" class="ion-text-end">
          <img src="../assets/img/NimbusLogo.png" width="60" height="50"/>
        </ion-col>
        <ion-col size="6" class="ion-text-start">
          <ion-title>
            <h1>DU Nimbus</h1>
          </ion-title>
        </ion-col>
        
      </ion-row>
    </ion-grid>
   
   
  </ion-toolbar>
</ion-header>
<ion-app class="ion-margin-top" >
  <ion-router-outlet style="background-image: url('../assets/img/background.jpg')" class="ion-margin-top"></ion-router-outlet>
</ion-app>