<ion-header [translucent]="true" class="ion-margin-bottom">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
          <ion-title>
            <h1>DU Nimbus</h1>
          </ion-title>
        </ion-col>
        <ion-col size="2" >
          <img src="../assets/img/NimbusLogo.png" width="60" height="50"/>
        </ion-col>
      </ion-row>
    </ion-grid>
   
   
  </ion-toolbar>
</ion-header>
<ion-app class="ion-margin-top">
  <ion-router-outlet class="ion-margin-top"></ion-router-outlet>
</ion-app>
