<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1">
        <ion-text color="secondary">
          <h1>Start transaction</h1>
        </ion-text>
        <hr />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Division</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">District</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Sub district</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Mouja (Area name)</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Deed number</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1"><hr /></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Current owner name</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Buyer name</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" step=10></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-text-center" size="12" size-sm="6">
        <ion-button color="secondary"> <ion-icon name="add-outline"></ion-icon> Apply </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="12" size-sm="6">
        <ion-button color="secondary"> <ion-icon name="return-up-back-outline"></ion-icon> Go Back </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
