<ion-content>
  <img src="../assets/img/Nimbus.png" width="150" height="140" />
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary" [routerLink]="['/search/khatyan']"
          >Search Deed</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary" [routerLink]="['/transaction/detail']">Request buy</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary" [routerLink]="['/check-transaction']"
          >Other services</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
