<ion-header>
  <ion-toolbar>
    <ion-title>Transaction request send.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center text-justify">
     <h1> <ion-icon name="information-circle-outline"></ion-icon> Go to "buy/sell land" page to complete transaction.</h1>
  </ion-text>

  <ion-footer>
 
      <ion-button (click)="dismiss()" color="danger" expand="block"  shape="round">
        Okay
      </ion-button>

  </ion-footer>
  
</ion-content>
