
.fly-in-text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right:30px;
	font-family: Open Sans, Arial;
	font-weight: 300;
	font-size: 4em;
	opacity: 1;
	transition: all 2.5s ease;
}

@media screen and (max-width: 1275px) {
    .fly-in-text li {
		margin-right:30px;
		font-weight: 300;
		font-size: 3em;
	}
}

@media screen and (max-width: 900px) {
    .fly-in-text li {	
    	display: inline;
		margin-right:20px;
		font-weight: 300;
		font-size: 3em;
	}
}

@media screen and (max-width: 768px) {
    .fly-in-text li {	
    	display: inline;
		margin-right:20px;
		font-weight: 300;
		font-size: 3em;
		text-align: center;
        margin: 0 auto;
}
	}


.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden li {
	opacity: 0;
} 

.fly-in-text.hidden li:nth-child(1) {
	transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
	transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
	transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
	transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
	transform: translateX(80px) translateY(-20px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(30px) translateY(200px);
}

.fade-in {
	animation: fadeIn ease 7s;
	-webkit-animation: fadeIn ease 7s;
	-moz-animation: fadeIn ease 7s;
	-o-animation: fadeIn ease 7s;
	-ms-animation: fadeIn ease 7s;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
h2{
  position: absolute;
	left: 50%;
	top: 15%;
}

img{
  position: absolute;
	left: 50%;
	top: 21%;
	margin-left: -65px
}

ion-grid{
	position: absolute;
	left: 50%;
	top: 41%;
	margin-left: -50px
}

ion-button{
	width: 110%;
}