<ion-content [fullscreen]="true">
  <ul class="fly-in-text hidden" #welcome color="primary">
    <li>W</li>
    <li>E</li>
    <li>L</li>
    <li>C</li>
    <li>O</li>
    <li>M</li>
    <li>E</li>
  </ul>

  <h2 #to class="fade-in">To</h2>
  <img src="../assets/img/Nimbus.png" width="150" height="140" />
  <ion-grid>
    <ion-row>
      <ion-col>
    <p>Login to get all the services.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" [routerLink]="['/auth/signup']">Sign up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" [routerLink]="['/auth/login']"
          >Log in</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
