<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>My Title Deeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
  <div class="outer-container">
    <table *ngIf="dataLoaded">
      <thead style="border-bottom: 3px solid black;">
        <tr>
          <th>Location</th>
          <th>Deed number</th>
          <th>Date</th>
          <th>Mark Number</th>
          <th>Mortgage</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of landData" [ngClass]="{'priority-200': checkMortage(d), 'priority-600': !checkMortage(d)}">
          <td class="name" >
            {{d.Title_Deed.Area}}, {{d.Title_Deed.Sub_District}}
          </td>
          <td class="clicks">{{d.Deed_No}}</td>
          <td class="priority">{{d.timestamp*700 | date: 'fullDate'}}</td>
          <td class="impressions">{{d.Title_Deed.Mark[0].Mark_No}}</td>
          <td *ngIf="checkMortage(d)">
            <ion-text color="warning">
                Already mortgaged.
            </ion-text>
          </td>
          <td *ngIf="!checkMortage(d)"><ion-button (click)="mortgage()" shape="round" color="success" fill="outline" id="mort">
            Mortgage <ion-icon color="success"  name="add"></ion-icon>
            
        </ion-button></td>
        <td><ion-button (click)="getReport()" color="primary">
          Download deed <ion-icon name="arrow-down-circle-outline"></ion-icon>
            
        </ion-button></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</ion-content>
