<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Check Buying and Selling Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
  <div class="outer-container">
    <ion-text><h1 style="color: #2f75d1;">Buying requests</h1></ion-text>
    <table *ngIf="buyLandData && buyLandData.length != 0">
      <thead style="border-bottom: 3px solid black;">
        <tr>
          <th>Location</th>
          <th>Requested buyer</th>
          <th>Date</th>
          <th>Mark Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of buyLandData" class="priority-200">
          <td class="name" >
            {{d.Title_Deed.Area}}, {{d.Title_Deed.Sub_District}}
          </td>
          <td class="clicks">{{d.Buyer.Name}}</td>
          <td class="priority">{{d.time*1000 | date: 'fullDate'}}</td>
          <td class="impressions">{{d.Title_Deed.Mark[0].Mark_No}}</td>
          <td >
            <ion-button (click)="approveBuy()" shape="round" color="success" fill="outline" id="mort">
              Approve <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </td>
          
         
        </tr>
       
      </tbody>
    </table>
  </div>

  <br><br><br><br><br>
  <div class="outer-container">
    <ion-text><h1 style="color: #932fc2;">Selling requests</h1></ion-text>
    <table *ngIf="sellLandData && sellLandData.length != 0">
      <thead style="border-bottom: 3px solid black;">
        <tr>
          <th>Location</th>
          <th>Deed number</th>
          <th>Owner</th>
          <th>Date</th>
          <th>Mark Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of sellLandData" class="priority-600">
          <td class="name" >
            {{d.Title_Deed.Area}}, {{d.Title_Deed.Sub_District}}
          </td>
          <td class="clicks">{{d.Deed_No}}</td>
          <td>{{d.Buyer.Name}}</td>
          <td class="priority">{{d.time*1000 | date: 'fullDate'}}</td>
          <td class="impressions">{{d.Title_Deed.Mark[0].Mark_No}}</td>
          <td >
            <ion-button (click)="approveSell()" shape="round" color="success" fill="outline" id="mort">
              Proceed <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-button>
          </td>

        </tr>
       
      </tbody>
    </table>
  </div>
</ion-content>
